<a href="https://colab.research.google.com/github/Mysterio-maker/TO-STUDY-WHILE-LOOPS-IN-PYTHON/blob/main/Experiment_7_STUDY_OF_WHILE_LOOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EXPERIMENT 7
## TITLE- STUDY OF WHILE LOOPS IN PYTHON
## NAME- AMEY WAGHMARE
## PRN- 25070123009
##  BATCH - A1

In [1]:
# Print i as long as i is less than 6
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [2]:
# Print numbers from 1 to N
N = int(input("Enter the number till where you want: "))
i = 1
while i <= N:
    print(i)
    i += 1

Enter the number till where you want: 10
1
2
3
4
5
6
7
8
9
10

In [3]:
# Factorial of a Number
n = int(input("Enter the number whose Factorial you want: "))
fact = 1
while n > 0:
    fact *= n
    n -= 1
print(fact)

Enter the number whose Factorial you want: 7
5040

In [4]:
# Fibonacci Series using while loop
n = int(input("Enter till where you want the fibonacci series: "))
a, b = 0, 1
i = 0
while i < n:
    print(a)
    a, b = b, a + b
    i += 1

Enter till where you want the fibonacci series: 9
0
1
1
2
3
5
8
13
21

In [5]:
# Reverse a number
num = int(input("Enter a number: "))
rev = 0
while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10
print("Reversed number =", rev)

Enter a number: 7
Reversed number = 7

In [6]:
# Check Palindrome (Number)
n = int(input("Enter a number: "))
original = n
reverse = 0
while n > 0:
    digit = n % 10
    reverse = reverse * 10 + digit
    n //= 10

if original == reverse:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter a number: 7
Palindrome

In [7]:
# Check Palindrome (String)
s = "madam"
i, j = 0, len(s) - 1
is_palindrome = True

while i < j:
    if s[i] != s[j]:
        is_palindrome = False
        break
    i += 1
    j -= 1

print("Yes" if is_palindrome else "No")

Yes

In [8]:
# Break Statement Example
n = int(input("Enter the number: "))
i = 1
while i <= n:
    if i == 3:
        break
    print(i)
    i += 1

Enter the number: 7
1
2

In [9]:
# Search PRN in list
prn = [11, 21, 31, 41, 7]
key = int(input("Enter PRN to search: "))

for num in prn:
    if num == key:
        print("PRN found in the list")
        break
else:
    print("PRN not found in the list")

Enter PRN to search: 7
PRN not found in the list

In [10]:
# Continue Example (Skip 5)
i = 1
while i <= 10:
    if i == 5:
        i += 1
        continue
    print(i)
    i += 1

1
2
3
4
6
7
8
9
10

In [11]:
# Print only odd numbers from 1 to 10
i = 1
while i <= 10:
    if i % 2 != 0:
        print(i)
    i += 1

1
3
5
7
9

In [12]:
# Print numbers 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [13]:
# Print even numbers from 1 to 10
for i in range(2, 11, 2):
    print(i, end=' ')

2 4 6 8 10

In [14]:
# Sum of first N numbers
n = int(input("Enter a number: "))
total = 0
for i in range(1, n + 1):
    total += i
print(total)

Enter a number: 7
28

In [15]:
# Nested For Loop
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [16]:
# 3x3 Matrix Display
A = [[1,2,3],[4,5,6],[7,8,9]]
for i in range(3):
    for j in range(3):
        print(A[i][j], end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [17]:
# Multiplication of Two 3x3 Matrices
A = [[1,2,3],[4,5,6],[1,2,1]]
B = [[1,1,1],[6,5,4],[3,2,1]]
Result = [[0,0,0],[0,0,0],[0,0,0]]

for i in range(3):
    for j in range(3):
        for k in range(3):
            Result[i][j] += A[i][k] * B[k][j]

for row in Result:
    print(row)

[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [18]:
# All possible combinations of 3 digits
d = [1,2,3]
for i in range(3):
    for j in range(3):
        for k in range(3):
            if d[i] != d[j] and d[j] != d[k] and d[k] != d[i]:
                print(d[i], d[j], d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [19]:
# Armstrong Number
num = int(input("Enter a number: "))
total = 0
for digit in str(num):
    total += int(digit) ** len(str(num))

print("Armstrong" if total == num else "Not Armstrong")

Enter a number: 7
Armstrong

In [20]:
# Prime numbers between 2 and 50
for num in range(2, 50):
    for j in range(2, num):
        if num % j == 0:
            break
    else:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [21]:
# Patterns
n = 5
for i in range(n):
    print(i * ' ', (n - i) * '$')

 $$$$$
  $$$$
   $$$
    $$
     $

In [22]:
# Inverted Pyramid
n = 5
for i in range(n):
    print(i * ' ', (n - i) * '$ ')

 $ $ $ $ $
  $ $ $ $
   $ $ $
    $ $
     $

In [23]:
# Pyramid
n = 6
for i in range(n):
    print((n - i) * ' ', i * ' $')

       $
      $ $
     $ $ $
    $ $ $ $
   $ $ $ $ $

In [24]:
# Number Pattern
num = 1
for i in range(1, 6):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [25]:
# Inverted Right Angle Triangle
for i in range(5, 0, -1):
    print("* " * i)

* * * * *
* * * *
* * *
* *
*